html {
  height: 500% witdh: 200%;
}
body {
  background-image: url('https://github.com/MIFNtechnology/siaranMy/raw/main/logo_mifn.png'); linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
  background-image: 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}